################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Release/netcoreapp3.1
/obj
/Properties/PublishProfiles
/bin/Debug/netcoreapp3.1
/.vs/FFMPEGPoc
/Input/Jamiroquai - Space Cowboy (David Morales Classic Club Remix) [Audio].mkv
/Input/Jamiroquai - Space Cowboy (David Morales Classic Club Remix) [Audio].mkv
